/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightcoral;
}


/* HEADER */

.main-header {
    background-color: rgb(65, 60, 60);
}

.main-footer {
    color: white;
    text-align: center;
    background-color: rgb(65, 60, 60);
}


/* HELPERS */

.main-container {
    max-width: 1024px;
    margin: 0 auto;
}