/* FONTS */

@font-face {
    font-family: 'impact';
    src: url(../fonts/impact/high_impact.ttf);
}


/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightcoral;
}

li {
    list-style-type: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin: 0;
    width: 40%;
}

img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin: 10px;
}


/* HEADER */

.main-header {
    background-color: rgb(65, 60, 60);
}

.main-header-content {
    align-items: center;
    color: white;
}

.main-nav li {
    display: flex;
    align-items: center;
    height: 100px;
}


/* MAIN MAIN MAIN MAIN MAIN */


/* GALLERY */

.search-content {
    margin: 20px 0px 20px;
}

.image-content {
    flex-wrap: wrap;
}

.main-nav li {
    text-transform: uppercase;
}


/* MEME */

.canvas-container {
    width: 50%;
    height: 80vh;
    padding: 10px;
}

.canvas-content {
    width: 100%;
    height: 92.5%;
}

.meme-content {
    padding: 10px;
    width: 50%;
    padding-left: 5%;
}


/* FOOTER */

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    height: 50px;
    color: white;
    background-color: rgb(65, 60, 60);
}


/* HELPERS */

.main-container {
    max-width: 1024px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}